@model List<Station>
@using System.Web;

@{
    ViewData["Title"] = "Stations";
}

@{
    <script src="https://use.fontawesome.com/98e82c05d5.js"></script>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom de la station</th>
                <th scope="col">Nombre de vélos électriques</th>
                <th scope="col">Nombre de vélos total</th>
                <th scope="col">Emplacement libres</th>
                <th scope="col">En service</th>
                <th scope="col">Favoris</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var station in Model)
            {
                var name = @station.Name.Replace(" ", "").Replace("'", "");
                <tr>
                    <td>@station.Name</td>
                    <td>@station.ElectricBikeCount</td>
                    <td>@station.BikeCountTotal</td>
                    <td>@station.SlotCount</td>
                    @if (station.IsOnline)
                    {
                        <td class="table-success"></td>
                    }
                    else
                    {
                        <td class="table-danger"></td>
                    }
                </tr>
            }

        </tbody>
    </table>
}
